
@font-face {
    font-family: "My Custom Font";
    src: url(https://github.com/stevecondylios/fonts/raw/master/CircularStd-Book.ttf) format("truetype");
}
body { 
    font-family: "My Custom Font", Verdana, Tahoma;
}
